# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Configuração padrão (deve ser configurado manualmente)
.env

# Dependency directories
node_modules/
dist/
.npm
.eslintcache